.loginCont{
        .formEngi {
            box-shadow: 1px 10px 30px 0px gray;
            border-radius: 10px;
            margin: 8vw auto;
            width: 45vw;
            padding-top: 3vh;
            box-shadow: 0px 10px 30px 0px rgb(10, 10, 10);
            background-color: rgba(240, 240, 240, 0.915);
            padding-bottom: 2vw;
        }
        .divCampEngi {
            margin-top: 2vh;
            display: flex;
            justify-content: space-evenly;
            text-align: start;
        }
        .inputEngi {
            background-color: rgb(221,233,180);  
            border-radius: 10px;
            border: solid 1px gray;
            padding: 5px;
            width: 18vw;
            border: 2px solid rgb(159,179,57);
                &:focus {
                outline-color: rgb(216, 141, 12);  
                }
                
        }
        .botonesDivEngi {
            display: flex;
            justify-content: space-evenly;
        .botonAdCreatEngi{
            margin-top: 4vh !important;
            margin: 0 10px 30px 10px;
            padding: 8px 35px 8px 35px;
        }

    
}
.rowEngi{   
    justify-content: center;        
    
    h3{
        padding-top: 3vh;
        font-weight: 300;
        color: #616060;
    }
} 
  
@media (max-width: 450px) {
    .rowEngi{   
        justify-content: center;        
        
        h3{
            font-weight: 300;
            color: #616060;
            margin-bottom: 7vh !important;
        }
    } 
    .formEngi {
        margin-left: 7vw !important;
        margin-top: 18vw;
        height:64vh !important;
        width: 80vw !important;
        padding-top: 2vh;
        display: flex;
        flex-direction: column;
        .formCreat{
            margin-left: 5vw;
                .divCampEngi{
                flex-direction: column;
                margin-top: 0;
                .inputEngi{
                    width: 69vw !important;
                    border: 2px solid rgb(159,179,57);
                    &:focus {
                        outline-color: rgb(216, 141, 12);  
                    }
                }
            }
        }
        .botonesDivEngi{
            display: flex;
            flex-direction: column;  
            margin-top: 10px;
            .botonAdCreatEngi{
                 width: 67vw !important;
                 margin-left: 1vw;  
                 margin:  0px !important;  
                 margin: 10px 0 !important;
                 padding: 7px 20px 7px 20px !important;           
            }  
        }
    }
   
}
}
@media (min-width: 451px) and (max-width: 850px) {
   
    .rowEngi{   
        justify-content: center;        
        
        h3{
            padding-top: 3vh;
            font-weight: 300;
            color: #616060;
            margin-bottom: -3vh;
        }
    } 
    .formEngi {
        margin-left: 3vw;
        margin: 15vw auto !important;
        width: 80% !important;
        padding-top: 2vh;
        display: flex;
        flex-direction: column;
        .formCreat{
                .divCampEngi{
                flex-direction: column;
                margin-top: 0;
                margin-left: 13vw;
                .inputEngi{
                    width: 50vw;
                    border: 2px solid rgb(159,179,57);
                    &:focus {
                        outline-color: rgb(216, 141, 12);  
                    }
                }
            }
        }
        .botonesDivEngi{
            display: flex;
            margin: 0 auto !important;     
            .botonAdCreatEngi{
                 width: 20vw !important;
                //  margin-left: 15vw !important;      
            }
           
        }
        
    }
    
}




